@tailwind base;
@tailwind components;
@tailwind utilities;



body{
  background-color: black;
  color: white;
}

/* styles/globals.css */
@font-face {
  font-family: 'NotoSerif-Regular';
  src: url('/fonts/NotoSerif-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins-Black.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'CustomFont1', sans-serif; /* Fallback to sans-serif */
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.animate-spin {
  animation: spin 1s linear infinite;
}


.bg1{
  background-image: url('/assets/bg-black.png');
  background-size: contain;
}

input{
  background-color: black;
}
.map-bg{
  background-image: url('/assets/bgMap.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
}

.bg-teams{

  background-image: url('/assets/teams-hero.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.bg-black-horizontal{
  background-image: url('/assets/bg-black-horizontal.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.bg-career-map{
  background-image: url('/assets/career-map.png');
  background-size: cover;
  background-repeat: no-repeat;
}

@media only screen and (max-width: 600px){
  .bg-career-map{
    background-image: none;
  }
}

.bg-drop{
  background-image: url('/assets/bg-drop.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
}

.bg-drop-mobile{
  background-image: url('/assets/bg-drop.png');
  background-size: contain;
  background-repeat: no-repeat;
}

.home-input{
  border: 1px white;
}