@tailwind base;
@tailwind components;
@tailwind utilities;



body{
  background-color: black;
  color: white;
}

/* styles/globals.css */
@font-face {
  font-family: 'NotoSerif-Regular';
  src: url('/fonts/NotoSerif-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins-Black.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'CustomFont1', sans-serif; /* Fallback to sans-serif */
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.animate-spin {
  animation: spin 1s linear infinite;
}


.bg1{
  background-image: url('/assets/bg-black.png');
  background-size: contain;
}

input{
  background-color: black;
}

.map-bgs {
  background-image: url('/assets/bgMap.png');
  background-size: contain;
  background-repeat: no-repeat;
}

.map-bgs {
  background-image: url('/assets/bgMap.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position:bottom;
}
.map-bg {
  background-image: url('/assets/bgMap.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;

  /* Define explicit size */
  min-width: 300px; /* Adjust to your desired width */
  height: 400px; /* Adjust to your desired height */


  margin: 0 auto;
}
.bg-teams{
  background-image: url('/assets/teams-hero.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.bg-black-horizontal{
  background-image: url('/assets/bg-black-horizontal.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.bg-career-map{
  background-image: url('/assets/career-map.png');
  background-size: cover;
  background-repeat: no-repeat;
}

@media only screen and (max-width: 600px){
  .bg-career-map{
    background-image: none;
  }
}

.bg-drop{
  background-image: url('/assets/bg-drop.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
}

.bg-drop-mobile{
  background-image: url('/assets/bg-drop.png');
  background-size: contain;
  background-repeat: no-repeat;
}

.home-input{
  border: 1px white;
}

.bg-fundability{
  background-image: url('/assets/fundability.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}

.modal-scroll {
  overflow-y: auto;
}

/* Custom scrollbar styles for WebKit browsers */
.modal-scroll::-webkit-scrollbar {
  width: 8px; /* Scrollbar width */
}
.modal-scroll::-webkit-scrollbar-track {
  background: #222; /* Background of the scrollbar track */
}
.modal-scroll::-webkit-scrollbar-thumb {
  background: #444; /* Scrollbar thumb color */
  border-radius: 10px; /* Rounded scrollbar edges */
}
.modal-scroll::-webkit-scrollbar-thumb:hover {
  background: #666; /* Hover effect for thumb */
}

/* Custom scrollbar styles for Firefox */
.modal-scroll {
  scrollbar-width: thin; /* Thin scrollbar */
  scrollbar-color: #444 #222; /* Thumb and track colors */
}

.slide1{
  background-image: url('/assets/slide1.svg');
  background-size: cover;
  background-repeat: no-repeat;
}

.slide2{
  background-image: url('/assets/slide2.svg');
  background-size: cover;
  background-repeat: no-repeat;
}

.slide3{
  background-image: url('/assets/slide3.svg');
  background-size: cover;
  background-repeat: no-repeat;
}

.slide4{
  background-image: url('/assets/slide4.svg');
  background-size: cover;
  background-repeat: no-repeat;
}